
header {
    background-color: rgba(230, 108, 9, 0.224);
    border: 0px;
    margin: 0%;
}

 h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
    padding: 30px;
}

body {
    background-image: url(Imagens/fundo3.png);
    background-color: antiquewhite;
}

main {
    max-width: 1000px;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
.quadro{
    max-width: 1000px;
    height: 450px;
    border: 5px solid black;
    justify-content: center;
    columns: 2;
    margin: auto;
    padding: 10px;
}

div p {
    text-align: justify;
    font-style: bold;
    font-size: 25px;
    padding: 5px 5px 5px 5px ;
    margin: 0;
}

img {
    padding: 6px;
}

.poster {
    display: flex;
    justify-content: center;
    background-color: aqua;

}

